page-home {}

.my-class {
  .toolbar-background-md,
  .toolbar-background-ios,
  ion-calendar-week .week-title {
    background-color: #424242;
  }
  .month-box {
    background: #343434;
    border-bottom: none;
    h4 {
      color: #fff;
    }
    button.days-btn>p {
      color: #fff;
    }
  }
}

.my-cal {
  button.days-btn.my-day {
    small {
      color: #fff;
      background-color: red;
    }
  }
  button.days-btn.HIGH {
    background-color: rgba(232, 51, 46, 0.9) !important;
    border-radius: 36px;
    margin: 0 auto;
    width: 36px;
    &.marked p,
    &.marked em {
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
}
