page-home {

}

calendar-page.my-class{

  ion-header{
    .toolbar-background-md,.toolbar-background-ios{
      background-color: #f53d3d;
    }
    .toolbar-title-md,.toolbar-title-ios{
      color: #fff;
    }
    .bar-button-clear-md,.bar-button-clear-ios{
      color: #fff;
    }
    .week-title{
      background-color: rgba(245, 61, 61, 0.64);
      color: #fff;
    }
  }

  ion-content{

    background-color: #faf4c6;

    .month-box{
      background-color: #eaeaea;
    }

    .days-btn,.month-title{
      color: #f53d3d;
    }
    button.days-btn.on-selected{
      background-color: #f53d3d !important;;
    }

  }

}

calendar-page.my-cal{

  button.day-danger {
    background-color: #e02041;
    border-radius:5px;
    &.marked p,&.marked em {
      color: #fff;
    }
  }
}
