.*.swp
._*
.git
.idea
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
README-v1.md
.editorconfig
.gitignore
.npmignore
.travis.yml
gulpfile.js
package-lock.json
.github/
demo/
demo-lazyload/
src/
dev/
node_modules/
tslint.json
tsconfig.json
yarn.lock
