:host ion-select {
  max-width: unset; }
  :host ion-select .select-icon > .select-icon-inner,
  :host ion-select .select-text {
    color: #fff !important; }
  :host ion-select.select-ios {
    max-width: unset; }

:host .calendar-page {
  background-color: #fbfbfb; }

:host .month-box {
  display: inline-block;
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 1px solid #f1f1f1; }

:host h4 {
  font-weight: 400;
  font-size: 1.8rem;
  display: block;
  text-align: center;
  margin: 1rem 0 0;
  color: #929292; }
