:host .toolbar-background-md,
:host .toolbar-background-ios {
  background: transparent; }

:host .week-toolbar {
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-top: 0; }
  :host .week-toolbar.primary {
    --background: var(--ion-color-primary); }
  :host .week-toolbar.secondary {
    --background: var(--ion-color-secondary); }
  :host .week-toolbar.danger {
    --background: var(--ion-color-danger); }
  :host .week-toolbar.dark {
    --background: var(--ion-color-dark); }
  :host .week-toolbar.light {
    --background: var(--ion-color-light); }
  :host .week-toolbar.transparent {
    --background: transparent; }
  :host .week-toolbar.toolbar-md {
    min-height: 44px; }

:host .week-title {
  margin: 0;
  height: 44px;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 0.9em; }
  :host .week-title.light, :host .week-title.transparent {
    color: #9e9e9e; }
  :host .week-title li {
    list-style-type: none;
    display: block;
    float: left;
    width: 14%;
    text-align: center; }
  :host .week-title li:nth-of-type(7n),
  :host .week-title li:nth-of-type(7n + 1) {
    width: 15%; }
