calendar-page {
  ion-select {
    .select-icon>.select-icon-inner{
        color: #fff;
    }
  }

  .calendar-page {
    background-color: #fbfbfb;
  }

  .month-box{
    display: inline-block;
    padding-bottom: 1em;
    border-bottom: 1px solid #f1f1f1;
  }

  .days-box {
    padding: 0.5rem;
  }

  h4 {
    font-weight: 400;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    margin: 1rem 0 0;
    color: #929292;
  }
  .days:nth-of-type(7n), .days:nth-of-type(7n+1) {
    width: 15%;
  }
  .days {
    width: 14%;
    float: left;
    text-align: center;
    height: 40px;
  }
  .days .marked p{
    color: rgb(59, 151, 247);
    font-weight:500;
  }

  .days .today p {
    border-bottom: 2px solid rgb(59, 151, 247);
    padding-bottom: 2px;
  }

  .days .on-selected{
    transition: background-color .3s;
    background-color: rgb(201, 225, 250);
    border: none;
  }

  .days .on-selected p{
    color: rgb(59, 151, 247);
    font-size: 1.3em;
  }

  button.days-btn {
    border-radius: 50%;
    width: 36px;
    display: block;
    margin: 0 auto;
    height: 36px;
    background-color: transparent;
    position: relative;
    z-index:2;
  }

  button.days-btn p {
    margin:0;
    font-size: 1.2em;
    color: #333;
  }

  button.days-btn.on-selected small{
    transition: bottom .3s;
    bottom: -14px;
  }

  button.days-btn small {
    overflow: hidden;
    display: block;
    left: 0;
    right: 0;
    bottom: -5px;
    position: absolute;
    z-index:1;
    text-align: center;
    color: #3b97f7;
    font-weight: 200;
  }
}

