:host ion-select {
  max-width: unset; }
  :host ion-select .select-icon > .select-icon-inner,
  :host ion-select .select-text {
    color: #fff !important; }
  :host ion-select.select-ios {
    max-width: unset; }

:host ion-toolbar ion-button.md {
  color: var(--ion-color-primary); }

:host .dates-toolbar {
  --background: transparent;
  padding: 0 1rem; }
  :host .dates-toolbar.primary {
    --background: var(--ion-color-primary); }
  :host .dates-toolbar.secondary {
    --background: var(--ion-color-secondary); }
  :host .dates-toolbar.danger {
    --background: var(--ion-color-danger); }
  :host .dates-toolbar.dark {
    --background: var(--ion-color-dark); }
  :host .dates-toolbar.light {
    --background: var(--ion-color-light); }
  :host .dates-toolbar.transparent {
    --background: transparent; }
  :host .dates-toolbar.toolbar-md {
    min-height: 44px; }

:host .ios.dates-toolbar {
  padding-top: 1rem; }

:host .start-date {
  padding-left: 0.5rem; }

:host .end-date {
  margin-right: -0.5rem; }

:host .calendar-page {
  background-color: #fbfbfb; }

:host .month-box {
  display: inline-block;
  width: 100%;
  padding-bottom: 1em; }

:host #month-0 {
  padding-top: 1rem; }

:host .month-title {
  padding-left: 1rem;
  text-align: left;
  color: #363749; }

:host h4 {
  font-weight: 400;
  font-size: 1.1rem;
  display: block;
  text-align: center;
  margin: 1rem 0 0;
  color: #929292; }

body[data-dark-mode="true"] :host .month-title {
  color: white; }

body[data-dark-mode="true"] :host .dates-toolbar {
  color: white; }
