@import "../variables";

@mixin week-title($color: primary) {
        margin: 0;
        color:#fff;
        height: 44px;
        width: 100%;
        background-color: color($cal-colors, $color);
        padding: 15px 0;
}

ion-calendar-week {
    .week-toolbar{
        padding: 0;
    }

    .week-toolbar.toolbar-md {
        min-height:44px;
    }


    .week-title.primary {
        @include week-title('primary');
    }

    .week-title.secondary {
        @include week-title('secondary');
    }

    .week-title.danger {
        @include week-title('danger');
    }

    .week-title.dark {
        @include week-title('dark');
    }


    .week-title li {
        list-style-type:none;
        display: block;
        float: left;
        width: 14%;
        text-align: center;
    }

    .week-title li:nth-of-type(7n), .week-title li:nth-of-type(7n+1) {
        width: 15%;
    }

}


