<ion-header>
  <ion-navbar>
    <button ion-button clear (click)="dismiss()">
      {{closeLabel}}
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ul class="week-title">
      <li *ngFor="let w of weekdaysTitle">{{w}}</li>
    </ul>
  </ion-toolbar>

</ion-header>

<ion-content class="calendar-page">


  <div *ngFor="let month of calendarMonths" class="month-box">
    <h4 class="text-center month-title">{{month.original.date | date:monthTitleFilterStr}}</h4>
    <div class="days-box">
      <div class="days" *ngFor="let day of month.days">
        <button class="days-btn"
                *ngIf="day"
                (click)="onSelected(day)"
                [class.marked]="day.marked"
                [class.on-selected]="day.selected"
                [disabled]="day.disable">
          <p>{{day.title}}</p>
          <em>{{day.subTitle}}</em>
        </button>
      </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="nextMonth($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
